*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messages-container{
    height: 400px;
    width: 100%;
    max-width: 420px;
    border: 2px solid dimgray;
    margin: 30px 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-div, .room-div{
    margin: 10px 0px;
}

.btn{
    width: 100px;
    height: 40px;
}

.text{
    height: 40px;
    width: 400px;
}


.message{
    background-color: transparent;
    margin-bottom: 10px;
    word-wrap: break-word;
    color: dimgray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.message-wrap{
    padding: 10px 10px;
    background-color: lightgray;
    margin-bottom: 10px; 
}




.send-message-div{
    align-self: flex-end;
    height: auto;
    min-height: 40px;
    width: auto;
    max-width: 250px;
    background-color: lightgray;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
}

.send-name{
    background-color: transparent;
    word-wrap: break-word;
    color: dimgray; 
    margin-bottom: 10px;
}

.send-message-p{
    background-color: transparent;
    word-wrap: break-word;
    color: black;
}



.receive-message-div{
    align-self: flex-start;
    height: auto;
    min-height: 40px;
    width: auto;
    max-width: 250px;
    background-color: lightgray;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px 10px 10px 0px;
}

.receive-name{
    background-color: transparent;
    word-wrap: break-word;
    color: dimgray; 
    margin-bottom: 10px;
}

.receive-message-p{
    background-color: transparent;
    word-wrap: break-word;
    color: black;
}
